<div class="flex justify-center pt-8 items-center flex-col gap-6">
    <div *ngIf="topics$ | async as topics; else loading" class="flex justify-center w-11/12">
        <div *ngIf="topics.length > 0; else noTopics" class="flex md:flex-row md:flex-wrap flex-col items-strech md:gap-10 gap-3">
                <app-item-card 
                    *ngFor="let topic of topics" 
                    [topic]="topic"
                    [isSubscribed]="isSubscribed(topic.id)"
                    (toggle)="toggleSubscription(topic.id)"
                >
                </app-item-card>
        </div>
    </div>
    
    <ng-template #noTopics>
        <p>Aucun thème disponible pour le moment.</p>
    </ng-template>
    
    <ng-template #loading>
        <p>Chargement des thèmes...</p>
    </ng-template>
</div>
