<header 
    class="w-screen border-b-2 border-b-black flex-row justify-between items-center px-2 md:px-6"
    [ngClass]="{ 
        'hidden md:flex': !(isAuthenticated$ | async),
        'flex': isAuthenticated$ | async
    }"
>
    <img 
        src="/assets/logo_p6.png" 
        alt="logo"
        class="w-1/4 md:w-1/12"
    />
    <div *ngIf="(isAuthenticated$ | async)">
        <div class="text-xl hidden md:block">
            <button 
                mat-button 
                [routerLink]="'/post'"
                routerLinkActive
                #rlaPost="routerLinkActive"
                [color]="rlaPost.isActive ? 'primary' : ''"
            >
                Articles
            </button>
            <button 
                mat-button 
                [routerLink]="'/topic'"
                routerLinkActive
                #rlaTopic="routerLinkActive"
                [color]="rlaTopic.isActive ? 'primary' : ''"
            >
                Thèmes
            </button>
            <button 
                mat-fab 
                class="header-profile-button"
                [routerLink]="'/profile'"
                routerLinkActive
                #rlaProfile="routerLinkActive"
                [ngClass]="{'header-profile-button-active' : rlaProfile.isActive}"
            >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Profile icon"
                    fontIcon="person_outlined"
                    [color]="rlaProfile.isActive ? 'primary' : ''"
                >
                    Profile
                </mat-icon>
            </button>
        </div>
        <div class="text-xl md:hidden">
            <button
                mat-icon-button (click)="toggleSidenav()"
            >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Hamburger icon"
                    fontIcon="menu"
                >
                    Menu
                </mat-icon>
            </button>
        </div>
    </div>
</header>

<!-- Sidenav -->
<mat-sidenav-container 
    *ngIf="sidenavOpened && (isAuthenticated$ | async)"
    class="md:left-[-9999px]"
>
    <mat-sidenav #sidenav mode="side" position="end" [(opened)]="sidenavOpened">
        <mat-nav-list>
            <mat-list-item [routerLink]="'/post'">Articles</mat-list-item>
            <mat-list-item [routerLink]="'/topic'">Thèmes</mat-list-item>
            <button mat-fab class="header-profile-button">
                <mat-icon
                    aria-hidden="false"
                    aria-label="Profile icon"
                    fontIcon="person_outlined"
                    [routerLink]="'/me'"
                >
                    Profile
                </mat-icon>
            </button>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (click)="toggleSidenav()">
    </mat-sidenav-content>
</mat-sidenav-container>