<div class="flex justify-center items-center flex-col gap-4 md:pt-32">
    <h1>{{ title }}</h1>
    <div *ngIf="errorMessage" class="text-red-500">
        {{ errorMessage }}
    </div>
    <form #registerForm="ngForm">
        <div 
            *ngFor="let input of inputs"
            class="flex flex-col"
        >
            <label>{{ input.label }}</label>
            <input
                [type]="input.type"
                [name]="input.name"
                [(ngModel)]="formData[input.name]"
                class="form-input"
                required
            />
        </div>
    </form>
    <button 
        mat-raised-button 
        color="primary"
        [disabled]="registerForm.invalid"
        (click)="onSubmit()"
    >
        {{ buttonText }}
    </button>
</div>
