<div *ngIf="post" class="flex flex-col gap-1 bg-gray-300 p-4 md:w-[400px] md:h-[220px] h-[155px] rounded-lg">
    <p class="font-bold md:text-base text-sm">{{ post.title }}</p>

    <div class=" flex items-center justify-between md:text-base text-sm md:leading-normal leading-[0.5rem] text-gray-600 pr-36">
        <p>{{ post.createdAt | date: 'dd/MM/yyyy' }}</p>
        <p>{{ post.author.username }}</p>
    </div>

    <p class="md:text-sm text-xs text-gray-800 overflow-hidden text-ellipsis md:line-clamp-5 line-clamp-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget consectetur consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget consectetur consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget consectetur consectetur. 
    </p>
</div>

<div *ngIf="topic">
</div>