.form-input {
    border: 2px solid black;
    margin-bottom: 18px;
    font-size: 15px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 8px;
}

.primary-input {
    border: 2px solid #673ab7;
}